<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Config>
    <SERVERADDRESS>.\sqlexpress</SERVERADDRESS>
    <DATABASE_ID>xetnghiem</DATABASE_ID>
    <USERNAME>sa</USERNAME>
    <PASSWORD>123456</PASSWORD>
    <BranchID>THAIHA</BranchID>
    <LANGUAGEDISPLAY>EN</LANGUAGEDISPLAY>
    <INTERFACEDISPLAY>DOCKING</INTERFACEDISPLAY>
    <LOCALALIAS>KKB-ALL-Số máy lẻ145-KDV</LOCALALIAS>
    <MIN_STT>1000</MIN_STT>
    <MAX_STT>19000</MAX_STT>
  </Config>
</NewDataSet>